<!DOCTYPE HTML>
<html ng-app="main">
	<head>
		<title>The main page of the taskmanager.</title>
		<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<link rel="StyleSheet" type="text/css" href="styles/index.css"/>
	</head>
	<body>


		<div ng-controller="mainController">
			<div class="nameDiv">
			<p>
				Enter name of the task to get that.<br>
			</p>
			<input type="text" id="nameInput" ng-model="name"></input>
			<button id="byNameBtn" type="submit" ng-click="getByName()">Enter name</button>
			<p>Entered name is {{name}}</p>
		</div>


		<div class="idDiv">
			<p>Enter id of the task to get that.</p>
			<input type="text" id="idInput" ng-model="ids"></input>
			<button id="byIdBtn" type="submit" ng-click="getById()">Enter Id</button>
			<p>Entered Id is {{ids}}</p>
		</div>
		<div class="allDiv">
			<table  id="tasks" class="taskTable">
				<tr ng-class = "{error:isError}">
					<th>Name</th>
					<th>Describe</th>
					<th>Date</th>
					<th>Reaction</th>
                    <th></th>

				</tr>
				<tr ng-repeat="task in tasks">
					<td ng-class="{error:isError}">{{task.name}}</td>
					<td ng-class="{error:isError}">{{task.describe}}</td>
					<td ng-class="{error:isError}">{{task.targetTime}}</td>
					<td ng-class="{error:isError}">{{task.reaction.type}} {{task.reaction.value}}</td>
                    <td><button type="submit" ng-click="deleteById(task)">Delete</button></td>
				</tr>
			</table>
        </div>
        </div>
	</body>
</html>
