<!DOCTYPE HTML>
<html ng-app="main">
	<head>
		<title>The main page of the taskmanager.</title>
		<script src="http://code.angularjs.org/1.0.6/angular.min.js"></script>
		<script src="scripts/app.js"></script>
		<link rel="StyleSheet" type="text/css" href="styles/index.css"/>

	</head>
	<body>


		<div ng-controller="mainController" ng-init="getAll()">
			<div class="nameDiv">
			<p>
				Enter name of the task to get that.<br>
			</p>
			<input type="text" id="nameInput" ng-model="name"></input>
			<button id="byNameBtn" type="submit" ng-click="getByName()">Enter name</button>
			<p>Entered name is {{name}}</p>
		</div>

		<div class="allDiv">
			<table  id="tasks" class="showTable">
				<tr ng-class = "{error:isError}">
					<th>Name</th>
					<th>Describe</th>
					<th>Date</th>
					<th>Reaction</th>
                    <th></th>

				</tr>
				<tr ng-repeat="task in tasks">
					<td ng-class="{error:isError}">{{task.name}}</td>
					<td ng-class="{error:isError}">{{task.describe}}</td>
					<td ng-class="{error:isError}">{{task.targetTime}}</td>
					<td ng-class="{error:isError}">{{task.reaction.type}} {{task.reaction.value}}</td>
                    <td><button type="submit" ng-click="deleteById(task)">Delete</button></td>
				</tr>
			</table>
			<select ng-model="nextPage" ng-options="item for item in pages">
			</select>
			<button type="submit" ng-click="getAll()">Go to that page</button>
        </div>
			<div class="createDiv">
				<form>
					<div>
						<p>Enter name</p>
						<input type="text" ng-model="taskName" id="taskName" required placeholder="Enter name"></input>
					</div>
					<div>
						<p>Enter describe</p>
						<input type="text" ng-model="describe" id="describeInput" required></input>
					</div>
					<div>
						<p>Enter date</p>
						<input type="time" ng-model="time" id="timeInput"></input>

						<input type="date" data-date-format="DD.MM.YYYY"  ng-model="date" id="dateInput" required></input>
					</div>
					<div>
						<p>Enter reaction</p>
						<select ng-model="reactionType">
							<option value="OUTPUT">
								OUTPUT
							</option>
							<option value="SLEEP">
								SLEEP
							</option>
						</select>
						<input type="text" ng-model="reactionValue" id="reactionValueInput"></input>
					</div>
					<button type="submit" ng-click="create(taskName , describe , time , date , reactionType , reactionValue)">Create task</button>
					<div ng-class="{error:isError}">{{msg}}</div>
				</form>

				<!--<table>
					<tr>
						<th>Time</th>
						<th>Id</th>
					</tr>
					<tr ng-repeat="hour in hours">
						<td>{{hour}}</td>
						<td>{{days}}</td>
					</tr>
				</table>-->
			</div>
        </div>
	</body>
</html>
