.error{
  color: red;
  font-family: Arial;

}
th{
  border-right: 2px solid gray;
}
td{
  border-right: 2px solid gray;
  font-family: Courier new;
  text-align: center;
}
.idDiv{
  font-family: Courier new;
  float : right;
  padding-left: 20px;
}
.nameDiv{
  font-family: Courier new;
  float: left;
}
.allDiv{
  font-family: Courier new;
  clear: left;
    width: 50%;
    float: left;

}
.showTable{
  border: 1px solid gray;
}
.createDiv{
    float: left;

}
.noTaskTable{
  
}
select{
    width: 50px;
}
