
.picker{
  position: absolute;
  right: 30px;
  top : 10px;
}
.example-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 600px;
}

.mat-column-delete {
  overflow: visible;
}

.datepicker {
  position: absolute;
  top : 50px;
  right  : 100px;
}
