<div class="example-container mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource">


    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let error"> {{error.id}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="exceptionClass">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let error"> {{error.exceptionClass}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="stackTrace">
      <mat-header-cell *matHeaderCellDef> StackTrace </mat-header-cell>
      <mat-cell *matCellDef="let error"> {{error.stackTrace}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let error"> {{error.date}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
